{% extends "::base.html.twig" %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('bundles/nettomaskadlecd2s/js/d2s.js') }}"></script>
{% endblock %}

{% block body %}
<div class="container">
    <article class="item full">
        Tento web vznikl pro usnadnění rozhodování, kam v Dejvicích zamířit na oběd. Informace na tomto webu
        jsou přejímány z veřejně dostupných zdrojů, typicky webových stránek jednotlivých restaurací. Provozovatel
        tohoto webu nenese žádnou zodpovědnost za správnost, úplnost ani aktuálnost zobrazených dat.
    </article>
    {% for restaurantId in restaurants %}
    <div class="item">
        <h2>{{ restaurantId }}</h2>
        <div class="restaurant" data-url="{{ path('net_tomaskadlec_d2s_default_restaurant', { 'restaurantId': restaurantId })  }}">Načítá se ...</div>
    </div>
    {% endfor %}
</div>
{% endblock %}
