{% extends '::base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<style type="text/css">
    #menu {
        margin: 2em 1em;
    }
    .container {
        display: block;
    }
    .item {
        display: block;
        width: 100%;
    }
</style>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
var apiBaseUrl = "{{ url('net_tomas_kadlecd2s_api_restaurants_base') }}";
</script>
<script src="{{ asset('bundles/nettomaskadlecd2s/js/obedar.js') }}"></script>
{% endblock %}

{% block body %}
<div class="container">
    <nav class="restaurant">
        <form action="#">
            <label>Výběr restaurace
                <select id="restaurant">
                </select>
            </label>
        </form>
    </nav>
    <article id="menu">
    </article>
</div>
{% endblock %}
