{% extends "::base.html.twig" %}

{% block body %}
<article>
    <p>
        Tento web vznikl pro podporu osobního rozhodování, kam v Dejvicích zamířit na oběd.
    </p>
    <p>
        Informace na tomto webu jsou přejímány z veřejně dostupných zdrojů, typicky webových stránek jednotlivých
        restaurací. Provozovatel tohoto webu nenese žádnou zodpovědnost za správnost, úplnost ani aktuálnost
        zobrazených dat.
    </p>
</article>
{% endblock %}