{% extends "::base.html.twig" %}

{% block body %}
<article>

    <a name="terms"></a>
    <h2>Podmínky používání služby</h2>

    <p>
        Informace uveřejňované na tomto webu jsou přejímány z veřejně dostupných zdrojů, typicky webových stránek
        jednotlivých restaurací. Provozovatel tohoto webu nenese žádnou zodpovědnost za správnost, úplnost ani
        aktuálnost zobrazených dat.
    </p>

    <a name="privacy"></a>
    <h2>Ochrana osobních údajů, používání cookies</h2>

    <p>
        Tento web neshromažďuje ani nezpracovává žádné osobní údaje ve smyslu Zákona č. 101/2000 Sb., o ochraně osobních
        údajů a o změně některých zákonů, v platném znění.
    </p>

    <a name="cookies"></a>
    <h3>Cookies</h3>

    <p>
        Tento web ukládá v souladu se zákony na vaše zařízení soubory, obecně nazývané cookies.
    </p>

    <h4>Co jsou cookies?</h4>

    <p>
        Cookies jsou malé datové soubory, díky kterým si navštívený web pamatuje vaše úkony a nastavení, které jste na
        něm provedli. Cookies nepředstavují nebezpečí, mají však význam pro ochranu soukromí. Cookies nelze použít pro
        zjištění totožnosti návštěvníků stránek.
    </p>

    <h4>Jaké cookies používáme?</h4>

    <p>
        Používáme cookies pro zachování vašich preferencí při prohlížení tohoto webu.
    </p>

    <p>
        Dále používáme cookies třetích stran (např. Google Analytics pro analýzu návštěvnosti). Tyto cookies jsou řízeny
        třetími stranami a nemáme přístup ke čtení nebo zápisu těchto dat.
    </p>

    <h4>Souhlas s ukládáním cookies</h4>

    <p>
        Většina prohlížečů cookies automaticky akceptuje, pokud není prohlížeč nastaven jinak. Používáním tohoto webu
        souhlasíte s ukládáním souborů cookies. Použití cookies můžete omezit nebo zablokovat v nastavení svého webového
        prohlížeče. Informace o nastavení nejčastěji používaných prohlížečů naleznete na uvedených adresách:
    </p>

    <ul>
        <li><a href="windows.microsoft.com">Internet Explorer</a></li>
        <li><a href="support.google.com">Google Chrome</a></li>
        <li><a href="support.mozilla.org">Mozilla Firefox</a></li>
        <li><a href="help.opera.com">Opera</a></li>
        <li><a href="support.apple.com">Safari</a></li>
    </ul>

</article>
{% endblock %}
