# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    app_name: 'Obědář'
    analytics: ~
    d2s:
        restaurants:
            'U Pětníka':
                'uri': 'http://www.drest.cz/u-petnika'
                'parser': 'drest'
            'Na Urale':
                'uri': 'http://www.drest.cz/na-urale'
                'parser': 'drest'
            'Na Slamníku':
                'uri': 'http://www.drest.cz/na-slamniku'
                'parser': 'drest'
            'U Topolů':
                'uri': 'http://www.utopolu.cz/ajax/cs/menu/getmenu/0'
                'parser': 'utopolu'
            'U Profesora':
                'uri': 'http://uprofesora.cz/'
                'parser': 'uprofesora'
            'Cesta časem':
                'uri': 'http://www.cestacasem.cz/denni-nabidka/'
                'parser': 'simigastro'
            'Bistro Santinka':
                'uri': 'http://www.santinka.cz/'
                'parser': 'santinka'
            'Studentský dům':
                'uri': 'http://agata.suz.cvut.cz/jidelnicky/index.php?clPodsystem=2'
                'parser': 'suz'
            'Pizzerie la fontanella':
                'uri': 'http://agata.suz.cvut.cz/jidelnicky/index.php?clPodsystem=10'
                'parser': 'suz'
            'Masarykova kolej':
                'uri': 'http://agata.suz.cvut.cz/jidelnicky/index.php?clPodsystem=5'
                'parser': 'suz'
        output:
            stdout: []
            slack:
                uri: ~
                channel: "#general"
                username: "obědář"
                icon_emoji: ":stew:"
