body {
    font: 13px / 1.4 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";color:#333; background-color:#fff;
    font-size: 11pt;
    margin: 0;
    padding: 0;
    border: 0;
}

body > header,
body > footer,
.container {
    width: calc(100vw - 2em);
    margin: 0.5em 1em;
}

body > header {
    padding-bottom: 0.5em;
    border-bottom: 1px solid #333;
    margin-bottom: 0.5em;
}

body > footer {
    border-top: 1px solid #333;
    margin-top: 0.5em;
    padding-top: 0.5em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #111;
    text-decoration: underline;
}

a > i {
    color: #777;
}

a:hover > i {
    color: #111;
}

.container {
    width: calc(100vw - 2em);
    margin: 0.5em 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.item {
    flex-grow: 1;
    width: calc(33% - 3*2em);
    margin: 0.3em 0.5em;
    padding: 0.2em 0.5em;
}
.item.full {
    width: 100%;
    text-align: center;
}
.item table {
    width: 100%;
}
.item th.underline {
    border-bottom: 1px solid black;
}
.item table td span.cafeteria {
    background-color: #565656;
    color: #FFFFFF;
    display: inline-block;
    padding: 0 0.25em;
    margin: auto 0.25em;
}

@media (min-width: 768px) and (max-width: 1280px)  {
    .item {
        width: calc(50% - 2*2em);
    }
}
@media (max-width: 767px) {
    .container {
        flex-direction: column;
    }
    .item {
        width: calc(100% - 2em);
    }
}