services:

  net_tomas_kadlec_d2s.service.application:
    alias: net_tomas_kadlec_d2s.service_application.cached_application

  net_tomas_kadlec_d2s.service_application.application:
    class: Net\TomasKadlec\d2sBundle\Service\Application\Application
    calls:
      - [ setConfiguration, [ "%d2s%" ] ]
      - [ setParser, [ "@net_tomas_kadlec_d2s.service.parser" ] ]
      - [ setOutput, [ "@net_tomas_kadlec_d2s.service.output" ] ]

  net_tomas_kadlec_d2s.service_application.cached_application:
    class: Net\TomasKadlec\d2sBundle\Service\Application\CachedApplication
    parent: net_tomas_kadlec_d2s.service_application.application
    calls:
      - [ setCache, [ "@net_tomas_kadlec_d2s.service.cache" ] ]

  net_tomas_kadlec_d2s.service.parser:
    class: Net\TomasKadlec\d2sBundle\Service\Parser

  net_tomas_kadlec_d2s.service_parser.drest:
    class: Net\TomasKadlec\d2sBundle\Service\Parser\DRest
    tags:
      - { name: net_tomas_kadlec_d2s.service.parser }

  net_tomas_kadlec_d2s.service_parser.utopolu:
    class: Net\TomasKadlec\d2sBundle\Service\Parser\UTopolu
    tags:
      - { name: net_tomas_kadlec_d2s.service.parser }

  net_tomas_kadlec_d2s.service_parser.uprofesora:
    class: Net\TomasKadlec\d2sBundle\Service\Parser\UProfesora
    tags:
      - { name: net_tomas_kadlec_d2s.service.parser }

  net_tomas_kadlec_d2s.service_parser.simigastro:
    class: Net\TomasKadlec\d2sBundle\Service\Parser\SimiGastro
    tags:
      - { name: net_tomas_kadlec_d2s.service.parser }

  net_tomas_kadlec_d2s.service_parser.santinka:
    class: Net\TomasKadlec\d2sBundle\Service\Parser\Santinka
    tags:
      - { name: net_tomas_kadlec_d2s.service.parser }

  net_tomas_kadlec_d2s.service_parser.suz:
    class: Net\TomasKadlec\d2sBundle\Service\Parser\SUZ
    tags:
      - { name: net_tomas_kadlec_d2s.service.parser }

  net_tomas_kadlec_d2s.service_parser.pod_juliskou:
    class: Net\TomasKadlec\d2sBundle\Service\Parser\PodJuliskou
    tags:
      - { name: net_tomas_kadlec_d2s.service.parser }

  net_tomas_kadlec_d2s.service_parser.pod_loubim:
    class: Net\TomasKadlec\d2sBundle\Service\Parser\PodLoubim
    tags:
      - { name: net_tomas_kadlec_d2s.service.parser }

  net_tomas_kadlec_d2s.service.output:
    class: Net\TomasKadlec\d2sBundle\Service\Output

  net_tomas_kadlec_d2s.service_output.slack:
    class: Net\TomasKadlec\d2sBundle\Service\Output\Slack
    tags:
      - { name: net_tomas_kadlec_d2s.service.output }

  net_tomas_kadlec_d2s.service_output.stdout:
    class: Net\TomasKadlec\d2sBundle\Service\Output\StdOut
    tags:
      - { name: net_tomas_kadlec_d2s.service.output }

  net_tomas_kadlec_d2s.service.cache:
    class: Doctrine\Common\Cache\PhpFileCache
    arguments: [ "%kernel.cache_dir%", ".restaurants.php" ]

  net_tomas_kadlec_d2s.menu.builder:
    class: Net\TomasKadlec\d2sBundle\Menu\Builder
    calls:
      - [ setFactory, [ "@knp_menu.factory" ]]
      - [ setApplication, [ "@net_tomas_kadlec_d2s.service.application" ] ]
    tags:
      - { name: knp_menu.menu_builder, method: getMain, alias: main }
      - { name: knp_menu.menu_builder, method: getExternal, alias: external }

  net_tomas_kadlec_d2s.twig.menu_extension:
    class: Net\TomasKadlec\d2sBundle\Twig\MenuExtension
    arguments:
      - "@knp_menu.helper"
      - "@knp_menu.matcher"
    tags:
      - { name: twig.extension }

  net_tomas_kadlec_d2s.service.contributors:
    class: Net\TomasKadlec\d2sBundle\Service\Contributors
    arguments: [ "%kernel.cache_dir%", "%d2s%" ]

  net_tomas_kadlec_d2s.service.application_info_service:
    class: Net\TomasKadlec\d2sBundle\Service\ApplicationInfoService
    arguments: [ "%kernel.root_dir%" ]