<!doctype html>

<html lang="cs">
<head>
  <meta charset="utf-8">

  <title>Obědář</title>
  <meta name="description" content="Poradím kam v Dejvicích vyrazit na oběd.">
  <meta name="author" content="Tomáš Kadlec">

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>

    <h1>Obědář</h1>

</body>
</html>