<!doctype html>

<html lang="cs">
<head>
  <meta charset="utf-8">

  <title>Obědář</title>
  <meta name="description" content="Poradím kam v Dejvicích vyrazit na oběd.">
  <meta name="author" content="Tomáš Kadlec">

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>

    <h1>Obědář</h1>

    {% for restaurant_id, restaurant_menu in restaurants %}
      <article>
        <h2>{{restaurant_id}}</h2>

        <p>O restauraci ....</p>

        <h3>Denní nabídka</h3>

        <table>
        {% for dishType, dishes in restaurant_menu -%}
            <tr>
                <th colspan="2" class="underline">{{ dishType }}</th>
            </tr>
            {% for dish in dishes  -%}
            <tr>
                <td>
                    {{- dish[0] -}}
                </td>
                <td>{{ dish[1]|default("-") }}&nbsp;Kč</td>
            </tr>
            {% endfor -%}
        {% else -%}
        <tr><th>Menu není k dispozici.</th></tr>
        {% endfor -%}
        </table>

        <h3>Kontakt</h3>

        <ul>
            <li>Ulice</li>
            <li>PSČ a Obec</li>
        </ul>

        <p>Mapa ...</p>
      </article>
    {% endfor %}

</body>
</html>